#about {
  background: #2b2b2b;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 5%;
  padding-right: 10%;
}

#about .profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

#about h2 {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 26px;
}

#about p {
  line-height: 36px;
  color: #7a7a7a;
  text-align: left;
  font-size: 18px;
  margin-bottom: 40px;
}

#about h5 {
  line-height: 30px;
  color: #7a7a7a;
  text-align: left;
  width: 100%;
  font-size: 18px;
}
