html,body{
	height:100%;
	width:100%;
}
.row{
	margin: 0;
}
.landing{
	background: rgb(34,125,170);
	background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
	background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
	background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
	background: linear-gradient(to bottom, rgba(34,125,170,1), rgba(81,172,205,1));
	height:100%;
	width: 100%;
}

/*brand name*/
.navbar-light .navbar-brand{
	color:white;
}

/*nav*/
.navbar-light .navbar-nav .nav-link{
	color:white;
}

.navbar{
	padding-top: 30px;
}

.landingQuote{
	padding-top: 350px;
	padding-left: 10%;
	color: white;
	font-weight: 700;
	font-size: 40px;

}
.author{
	padding-left: 75%;
	color: white;
	font-weight: 700;
	font-size: 40px;

}
.underline{
	margin-left: 10%;
	display:block;
	height:3px;
	width:60px;
	background: white;
}

.landingMedia{
	padding-top: 20px;
	padding-left: 10%;
	color: 	white;
}

.fa-linkedin{
	margin-left:30px;
}

i {
  color:white;
}